[workspace]
name = "pycrumbs"
version = "0.0.7.dev"
description = "A dispatcher-based analytical and visualization suite for chemical physics"
authors = ["Rohit Goswami <rgoswami[at]ieee[dot]org>"]
channels = ["conda-forge", "https://repo.prefix.dev/rg-forge"]
platforms = ["linux-64"]

[tasks]

[dependencies]
python = ">=3.10"
pip = "23.3.1.*"
pdm = "2.10.4.*"
pytest = ">=8.4.2,<9"

[feature.docs.dependencies]
emacs = ">=30.2,<31"
nodejs = ">=25.2.1,<25.3"

[feature.docs.pypi-dependencies]
shibuya = ">=2025.12.13, <2026"
sphinx-click = ">=6.2.0, <7"
sphinx = ">=9.0.4, <10"
sphinxcontrib-programoutput = ">=0.18, <0.19"
sphinx-autoapi = ">=3.6.0, <4"
sphobjinv = ">=2.3.1.3, <3"
autodoc-pydantic = ">=2.2.0, <3"
sphinx-sitemap = ">=2.9.0, <3"
pycmark = ">=0.9.6, <0.10"

[environments]
docs = {features = ["docs"]}
test = { features = ["test"] }
fragments = { features = ["fragments", "test"] }
ptm = { features = ["ptm", "test"] }
eonmlflow = { features = ["eonmlflow", "test"] }

[pypi-options]
# TODO(rg): only if the CPU version is needed
# set these on the command line instead
# export UV_EXTRA_INDEX_URL="https://download.pytorch.org/whl/cpu"
# export PIP_EXTRA_INDEX_URL="https://download.pytorch.org/whl/cpu"
extra-index-urls = ["https://download.pytorch.org/whl/cpu"]

[feature.eonmlflow.dependencies]
eon = ">=2.8.2,<3"
mlflow = ">=3.8.0,<4"

[feature.fragments.pypi-dependencies]
ase = "~=3.23"
cmcrameri = ">=1.9, <2"

[feature.fragments.dependencies]
gfortran = ">=15.2.0,<15.3"
libgfortran-ng = ">=15.2.0,<16"
pyvista = ">=0.46.4,<0.47"
matplotlib = ">=3.10.8,<4"
tblite-python = ">=0.5.0,<0.6"
ira = ">=2.2.0,<3"

[feature.test.pypi-dependencies]
rgpycrumbs = { path = ".", editable=true }
pytest = "*"
click = ">=8.3.1, <9"
numpy = ">=2.3.5, <3"

[feature.ptm.dependencies]
ovito = "*"

[feature.ptm.pypi-dependencies]
ase = ">=3.26.0, <4"
ovito = ">=3.14.1, <4"

[feature.docs.tasks.minify]
cmd = """
npx html-minifier-terser \
  --input-dir docs/build \
  --output-dir docs/build \
  --file-ext html \
  --collapse-whitespace \
  --remove-comments \
  --minify-js true \
  --minify-css true
"""


[feature.docs.tasks.docbld]
depends-on = [
"mkrst",
"sphinxbld",
]

[feature.docs.tasks.sphinxbld]
depends-on = [
{ task = "mkrst", environment = "docs" },
]
cmd = """
sphinx-build docs/source/ docs/build
"""

[feature.docs.tasks.mkrst]
cwd = "docs"
cmd = """
emacs --batch --load export.el
"""

[feature.docs.tasks.docdel]
cwd = "docs"
# removes files generated by sphinx and orgmode
cmd = """
rm -rf build
rm -rf source/*.rst
"""
