[workspace]
authors     = [ "Rohit Goswami <rgoswami[at]ieee[dot]org>" ]
channels    = [ "conda-forge", "https://repo.prefix.dev/rg-forge" ]
description = "A dispatcher-based analytical and visualization suite for chemical physics"
name        = "pycrumbs"
platforms   = [ "linux-64" ]
version     = "0.0.7.dev"

[tasks]

[dependencies]
python = ">=3.10"

[feature.docs.dependencies]
adjusttext     = ">=1.3.0,<2"
ase            = ">=3.27.0,<4"
emacs          = ">=30.2,<31"
mlflow         = ">=3.8.1,<4"
nodejs         = ">=25.2.1,<25.3"
numpy          = ">=2.4.1,<3"
sphinx-favicon = ">=1.0.1,<2"

[feature.docs.pypi-dependencies]
autodoc-pydantic            = ">=2.2.0, <3"
rgpycrumbs                  = { path = ".", editable = true }
shibuya                     = ">=2025.12.13, <2026"
sphinx                      = ">=9.0.4, <10"
sphinx-autoapi              = ">=3.6.0, <4"
sphinx-click                = ">=6.2.0, <7"
sphinx-sitemap              = ">=2.9.0, <3"
sphinxcontrib-programoutput = ">=0.18, <0.19"
sphobjinv                   = ">=2.3.1.3, <3"

[environments]
docs      = { features = [ "docs" ] }
eonmlflow = { features = [ "eonmlflow", "test" ] }
fragments = { features = [ "fragments", "test" ] }
ptm       = { features = [ "ptm", "test" ] }
surfaces  = { features = [ "surfaces", "test" ] }
test      = { features = [ "test" ] }

[pypi-options]
# TODO(rg): only if the CPU version is needed
# set these on the command line instead
# export UV_EXTRA_INDEX_URL="https://download.pytorch.org/whl/cpu"
# export PIP_EXTRA_INDEX_URL="https://download.pytorch.org/whl/cpu"
extra-index-urls = [ "https://download.pytorch.org/whl/cpu" ]

[feature.eonmlflow.dependencies]
eon    = ">=2.8.2,<3"
mlflow = ">=3.8.0,<4"

[feature.fragments.pypi-dependencies]
ase       = "~=3.23"
cmcrameri = ">=1.9, <2"

[feature.fragments.dependencies]
gfortran       = ">=15.2.0,<15.3"
ira            = ">=2.2.0,<3"
libgfortran-ng = ">=15.2.0,<16"
matplotlib     = ">=3.10.8,<4"
pyvista        = ">=0.46.4,<0.47"
tblite-python  = ">=0.5.0,<0.6"

[feature.test.pypi-dependencies]
click      = ">=8.3.1, <9"
numpy      = ">=2.3.5, <3"
pytest     = "*"
rgpycrumbs = { path = ".", editable = true }
scipy      = ">=1.11"

[feature.test.dependencies]
ase = ">=3.23,<4"

[feature.surfaces.pypi-dependencies]
jax = ">=0.4"

[feature.ptm.dependencies]
ovito = "*"

[feature.ptm.pypi-dependencies]
ase   = ">=3.26.0, <4"
ovito = ">=3.14.1, <4"

[feature.docs.tasks.minify]
cmd = """
npx html-minifier-terser \
  --input-dir docs/build \
  --output-dir docs/build \
  --file-ext html \
  --collapse-whitespace \
  --remove-comments \
  --minify-js true \
  --minify-css true
"""


[feature.docs.tasks.docbld]
depends-on = [ "mkrst", "sphinxbld" ]

[feature.docs.tasks.sphinxbld]
cmd = """
sphinx-build docs/source/ docs/build
"""
depends-on = [ { task = "mkrst", environment = "docs" } ]

[feature.docs.tasks.mkrst]
cmd = """
emacs --batch --load export.el
"""
cwd = "docs"

[feature.docs.tasks.docdel]
cwd = "docs"
# removes files generated by sphinx and orgmode
cmd = """
rm -rf build
rm -rf source/*.rst
"""
