[workspace]
name = "pycrumbs"
version = "0.0.6.dev"
description = "Random scripts"
authors = ["Rohit Goswami <rgoswami[at]ieee[dot]org>"]
channels = ["conda-forge"]
platforms = ["linux-64"]

[tasks]

[dependencies]
python = ">=3.10"
pip = "23.3.1.*"
pdm = "2.10.4.*"
pytest = ">=8.4.2,<9"

[feature.docs.dependencies]
emacs = ">=30.2,<31"

[feature.docs.pypi-dependencies]
shibuya = ">=2025.12.13, <2026"
sphinx-click = ">=6.2.0, <7"
sphinx = ">=9.0.4, <10"
sphinx-autodoc2 = ">=0.5.0, <0.6"
sphinxcontrib-programoutput = ">=0.18, <0.19"

[environments]
docs = {features = ["docs"]}
